/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../assets/images/nitex.jpg') no-repeat center center;
  background-size: contain;
}
